
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  height: 100%;
  color: #f2f2f2;

}


.gen-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width:95%;
    border: 3px black solid;
}



.project-title-1 {
  content: "";
  background-image: url('./images/SpatialSplits2.jpg');
  background-size: cover;
  background-color: rgba(0,0,0,0.5);
  font-family: 'Nunito', sans-serif;
  font-size: medium;
  font-style:italic;
  padding: 10%;
}


.row{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.row-aboutme{
  width: 80%;
  height: 100%;
  padding-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 0;
  
}

.colTop{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.col{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.body-col{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.narrow-col{
  width: 33%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2%;
}
.main-body-aboutme{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #D6B72A;
  border: 7px #000000 solid;
  
}
.self-photo{
  width: 250px; 
  height: 300px; 
  object-fit: cover; 
  object-position: 100% 0;
  position: relative;
}
.aboutme-textspacing{
  margin-top: -5%;
  font-weight: 500;
}

.aboutme-text{
  padding-left: 10%;
  color:#1F1F1F;
  font-weight: 800;

}

.main-body{
    width: 80%;
    display: flex;
    justify-content: center;
    align-self: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.title-box-a{

    border-color: black;
    border-width: 3px;
    border-style: solid;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.35);
}

.title-box{

  border-color: black;
  border-width: 3px;
  border-style: solid;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items:center;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.35);
  padding-left: 1rem;
  padding-top: 0;
}


.title-box-text{
  font-size: 1.75em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Work Sans', sans-serif;
  padding: 1rem;
}

.title-box-text2{
  font-size: xx-large;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Work Sans', sans-serif;
  padding: 1rem;
  color: #1f1f1f;
  font-weight: 700;
}

.subtitle-box{

    border-left: black;
    border-right: black;
    border-bottom: black;
    border-top: black;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-bottom-style: solid;
}    

.imageBanner{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  overflow: hidden;
}

.imageBannerimg{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.titlecontainer{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  background-color: #1F1F1F;
  padding-top:3rem;
  padding-bottom: 0;
}

.backgroundC{
  background-color: #1F1F1F;
}
.section-box{
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:flex-start;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 2%;
    align-items: center;
}
.section-decobox{
  border-color: black;
  border-width: 3px;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  height: 1.5rem;
  width: 59%;
  align-content: center;
  background-color: black;
}

.project-box{
  border-color: black;
  border-width: 3px;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  height: 15rem;
  align-content: end;
  width: 95%;
  position:relative;
  /*content: "";
  background-image: url('./images/SpatialSplits2.jpg');
  background-size: cover;*/
}
.title-box-a:hover{
  background-color: #1F1F1F;
  transition: 0.5s ease;
}

.bg-image {
  opacity: 0.3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-img-title {
  position: absolute;
  top: 15%;
  left: 5%;
  right:5%;
  text-align: center;
}

.project-link{
  background-color: #000000; 
  width: 95%; 
  text-align: right;
  display: flex;
  flex-direction: row;
  border:black solid 3px;
  align-items: center;
}


.outer-box{
    border: solid;
    border-color: #ebc934;
    border-width: 3px;
    border-radius: 90% 10% / 10% 90%;
    position: relative;
    left:5%;
    top:5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 80%;
    min-height: 25%;
}
.narrow-blurbs{
    width: 33%;
}
.Aligner-item {
    max-width: 50%;
}
  
.Aligner-item--top {
    align-self: flex-start;
}
  
.Aligner-item--bottom {
    align-self: flex-end;
}

.frame {
    width: 250px;
    height: 300px;
    border: 3px solid #000000;  
    margin: auto;
    position: relative;
    left: 3%;
    top: 3%;
}

.profiles {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.credit {
    display: flex;
    list-style: none;
    align-content: space-around;
    flex-direction: row;
}
a:link {
  color: #ebc934;
  text-decoration:none;
}

a:visited {
  color: #ebc934;
}

.aboutme-textspacing a:link {
  color: #1F1F1F;
}

.aboutme-textspacing a:visited {
  color: #1F1F1F;
}
.aboutme-text a:link {
  color: #1F1F1F;
}

.aboutme-text a:visited {
  color: #1F1F1F;
}
.github-profile a {
    margin: 0.5rem;
    padding-left: 1.7rem;
    background-image: url('images/github.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}
.email-profile a {
    margin: 0.5rem;
    padding-left: 2.5rem;
    background-image: url('images/envelope.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}
.linkedin-profile a {
    margin: 0.5rem;
    padding-left: 1.5rem;
    background-image: url('images/linkedin.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}
.resume-profile a {
    margin: 0.5rem;
    padding-left: 1.5rem;
    background-image: url('images/resume.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}  
.email-credit {
    margin: 0.5rem;
    padding-left: 2.5rem;
    background-image: url('images/envelope.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}
.linkedin-credit {
    margin: 0.5rem;
    padding-left: 1.5rem;
    background-image: url('images/linkedin.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}  

.lines-credit {
    margin: 0.5rem;
    padding-left: 3rem;
    background-image: url('images/linescredit.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
} 
.resume-credit {
    margin: 0.5rem;
    padding-left: 1.5rem;
    background-image: url('images/resumecredit.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}  
.foot-box{
    border-top: 3px solid;
    border-top-color: #ebc934;
    position: relative;
    left:5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
    align-self: center;
}
.footers {
    font-family: 'Nunito', sans-serif;
    font-size: small;
    padding: 1em;
}



/*
old ideas, might come back to

.frame {
    width: 250px;
    height: 300px;
    border: 3px solid #ebc934;
    border-radius: 50% 100% / 24% 33%;    
    margin: auto;
    position: relative;
    left: 3%;
    top: 3%;
}

.inner-box{
    border: dotted;
    border-color: black;
    background-color: blanchedalmond;
    border-width: 3px;
    color:brown;
    position: absolute;
    left:25%;
    top:25%;

}
*/
ul {
    font-family: 'Nunito', sans-serif;
    font-size: medium;
    padding: 1em;
}
.ul2 {
    font-family: 'Nunito', sans-serif;
    font-size: medium;
    padding-left: 40px;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: medium;
    padding: 1em;

}

h1{
    font-family: 'Nunito', sans-serif;
    font-size: x-large;
    padding: 1em;  
}
h2{
    font-family: 'Nunito', sans-serif;
    font-size: large;
    font-style:bold;
    padding: 1em;
}
h3{
    font-family: 'Nunito', sans-serif;
    font-size: medium;
    font-style:italic;
    padding: 1em;
    text-align: left;
}
h4{
  font-family: 'Nunito', sans-serif;
  font-size: small;
  padding: 1em;
  border-top-left-radius: 75%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 75%;
  border-bottom-left-radius: 50%;
  border-top: #1f1f1f solid 3px;
  border-bottom: #1f1f1f solid 3px;
  border-left: #1f1f1f solid 3px;
  border-right: #1f1f1f solid 3px;
  text-align: center;
  padding: 1rem;
  /*background-color: #1f1f1f;*/
  margin-right: 2%;
}
.project-link h4:hover{
  background-color: #1F1F1F;
  transition: 0.5s ease;
}

h5{
    font-family: 'Nunito', sans-serif;
    font-size: smaller;
    font-style:bold;
    padding: 1em;
}
.section-title{
    font-family: 'Nunito', sans-serif;
    font-size: 3em;
    width: 40%;
}
.subtitle{
    font-family: 'Nunito', sans-serif;
    font-size: larger;
    font-style: bold;
}



a:hover {
    text-decoration: underline wavy;
    transition: 1s ease;
}

h4 a:hover{
  text-decoration: none;
}
.resume-list{
    margin-bottom: 8px; 
    list-style: outside;
}

.profiles li {
  margin-top: 10px;
}

/* Phone CSS */
/*@media screen and (max-width: 375px) {


  .project-box{
    width: 100%;
  }
  .narrow-col{
    width: 100%;
  }

  .main-body{
    flex-direction: column;
  }

  h3{
    padding: 5%;
  }

}*/

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border:none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(0, 0, 0, 0.5); /* Set a background color */
  color: #f2f2f2; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 20px 25px 20px 25px;
  border-radius: 1px; /* Rounded corners */
  font-size: 1.5rem; /* Increase font size */
  font-family:  'Work Sans', sans-serif;
  font-weight: 700;
  text-transform: lowercase;
  transition: 0.2s ease;
}

#myBtn:hover {
  color: #ebc934;
  transition: 0.2s ease;
}
/*accordion stuff ------------------------------*/

#accordion {
  width: 100%;
  margin:0 auto;
}

.accord-header {
  padding:10px; 
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.5);
  border:1px solid #1f1f1f;
  font-family: 'Nunito', sans-serif;
  font-size: small;
}
.accord-header:hover {
  background-color: #1F1F1F;
  text-decoration: underline;
  transition: 0.5s ease;
}


.title {
  flex:1;
}

.icon {
  width:20px;
} 

#accord-content-1 {
  display: none;
  padding:10px;
  border:1px solid rgb(0, 0, 0, 0.5);
} 
#accord-content-2 {
  display: none;
  padding:10px;
  border:1px solid rgb(0, 0, 0, 0.5);
} 
#accord-content-3 {
  display: none;
  padding:10px;
  border:1px solid rgb(0, 0, 0, 0.5);
} 
#accord-content-4 {
  display: none;
  padding:10px;
  border:1px solid rgb(0, 0, 0, 0.5);
} 
#accord-content-5 {
  display: none;
  padding:10px;
  border:1px solid rgb(0, 0, 0, 0.5);
} 
#accord-content-6 {
  display: none;
  padding:10px;
  border:1px solid rgb(0, 0, 0, 0.5);
} 
#accord-content-7 {
  display: none;
  padding:10px;
  border:1px solid rgb(0, 0, 0, 0.5);
} 
/*end accordion stuff*/
@media screen and (max-width: 927px) {
  .imageBanner {
    height: 105px;
  }

  .project-box{
    width: 100%;
  }
  .gen-container{
    width: 100%; 
  }
  .project-link{
    width: 100%; 
  }
  .narrow-col{
    width: 100%;
  }

  .main-body{
    flex-direction: column;
  }

  h3{
    padding: 5%;
  }

  .titlecontainer{
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .title-box{
    border-width: 2px;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    padding-left: 0;
    padding-top: 1rem;

  }

  .title-box-a{
    border-width: 2px;
    width: 95%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
  }

  .title-box-text{
    font-size: 1rem;
  }
  .row-aboutme{
    flex-direction: column;
    padding-left: 0;
    padding-top: 0.5rem;
  }

  .credit{
    flex-direction: column;
  }
  .linkedin-credit{
    padding-left: 4.5rem;
  }
  .email-credit{
    padding-left: 4.5rem;
  }
  .resume-credit{
    padding-left: 4.5rem;
  }
  .bby-container{
    flex-direction: column;
  }
}

