.titlebar-a{
  width: auto;
  height: auto;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.titlebar{
  width: 100%;
  height: auto;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gen-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}
.row{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.col{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.body-col{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.backgroundC{
  background-color: #1F1F1F;
  color: #f2f2f2;
  font-family: 'Nunito', sans-serif;
}
.main-body-aboutme{
  box-sizing: border-box;
  width: 100%;
  background-color: #ebc934;
  border: 7px #000000 solid;
  color: #1F1F1F;
}
.row-aboutme{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}
a:link {
  color: #ebc934;
}

a:visited {
  color: #ebc934;
}
.main-body-aboutme a:link {
  color: #1F1F1F;
}

.main-body-aboutme a:visited {
  color: #1F1F1F;
}
.section-decobox{
  border-color: black;
  border-width: 3px;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-self: start;
  height: 0.5rem;
  width: 59%;
  align-content: start;
  background-color: black;
}
.main-body{
    width: 80%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.title-box{

    border-color: black;
    border-width: 3px;
    border-style: solid;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}
   /*.subtitle-box{
    border: solid 3px #000000;
    padding: 1rem;
 
    border-left: black;
    border-right: black;
    border-bottom: black;
    border-top: black;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-bottom-style: solid;
    

}   */ 
.resume-list{
  margin-bottom: 8px; 
  list-style: outside;
}
ul {
font-family: 'Nunito', sans-serif;
font-size: medium;
padding: 1em;
list-style-type: circle;
}
.resume-list li {
margin-bottom: 8px; 
list-style: outside circle;
}

.subtitle-box{
  border-color: black;
  border-width: 3px;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-content: end;
  height: 100%;
  width: 100%;
}
.subtitle-link{
  background-color: #000000; 
  width: 100%; 
  text-align: right;
  padding: 1rem;
  font-weight: bold;

}

.section-box{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 2%;
    align-items: flex-start;
}
.section-box-a{
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 10%;
  padding-top: 2%;
  align-items: flex-start;
}
.outer-box{
    border: solid;
    border-color: rgb(212, 120, 135);
    border-width: 3px;
    border-radius: 90% 10% / 10% 90%;
    position: relative;
    left:5%;
    top:5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 80%;
    min-height: 25%;
}
.narrow-blurbs{
    width: 33%;
}
.Aligner-item {
    max-width: 50%;
}
  
.Aligner-item--top {
    align-self: flex-start;
}
  
.Aligner-item--bottom {
    align-self: flex-end;
}

.frame {
    width: 250px;
    height: 300px;
    border: 3px solid rgb(212, 120, 135);
    border-radius: 90% 10% / 10% 90%;    
    margin: auto;
    position: relative;
    left: 3%;
    top: 3%;
}

.profiles {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.credit {
    display: flex;
    list-style: none;
    align-content: space-around;
    flex-direction: row;
}
.github-profile a {
    margin: 0.5rem;
    padding-left: 1.7rem;
    background-image: url('images/github.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}
.email-profile a {
    margin: 0.5rem;
    padding-left: 2.5rem;
    background-image: url('images/envelope.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}
.linkedin-profile a {
    margin: 0.5rem;
    padding-left: 1.5rem;
    background-image: url('images/linkedin.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}
.resume-profile a {
    margin: 0.5rem;
    padding-left: 2.5rem;
    background-image: url('images/resume.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}  
.email-credit {
    margin: 0.5rem;
    padding-left: 3.5rem;
    background-image: url('images/envelope.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}
.linkedin-credit {
    margin: 0.5rem;
    padding-left: 2.5rem;
    background-image: url('images/linkedin.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}  

.lines-credit {
    margin: 0.5rem;
    padding-left: 4rem;
    background-image: url('images/linescredit.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
} 
.resume-credit {
    margin: 0.5rem;
    padding-left: 2.5rem;
    background-image: url('images/resumecredit.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}  
.foot-box{
    border-top: 3px solid;
    border-top-color: #ebc934;
    position: relative;
    left:5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
    align-self: center;
}
.footers {
    font-family: 'Nunito', sans-serif;
    font-size: small;
    padding: 1em;
}
.cutebutt{
  float: right;
  border: 4px solid #1f1f1f;
  padding: 1rem;
  font-weight: bold;
  font-size: medium;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Nunito', sans-serif;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.cutebutt:hover{
  background-color: #1f1f1f;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}


/*
old ideas, might come back to

.frame {
    width: 250px;
    height: 300px;
    border: 3px solid rgb(212, 120, 135);
    border-radius: 50% 100% / 24% 33%;    
    margin: auto;
    position: relative;
    left: 3%;
    top: 3%;
}

.inner-box{
    border: dotted;
    border-color: black;
    background-color: blanchedalmond;
    border-width: 3px;
    color:brown;
    position: absolute;
    left:25%;
    top:25%;

}
*/

.ul2 {
    font-family: 'Nunito', sans-serif;
    font-size: medium;
    padding-left: 40px;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: medium;
    padding: 1em;

}

h1{
    font-family: 'Nunito', sans-serif;
    font-size: medium;
    padding-left: 1em;  
    padding-top:0.5em;
}
h2{
    font-family: 'Nunito', sans-serif;
    font-size: large;
    font-style:bold;
    padding: 1em;
}
h3{
    font-family: 'Nunito', sans-serif;
    font-size: medium;
    font-style:italic;
    padding: 1em;
}
h4{
    font-family: 'Nunito', sans-serif;
    font-size: medium;
    padding: 1em;
}
h5{
    font-family: 'Nunito', sans-serif;
    font-size: smaller;
    font-style:bold;
    padding: 1em;
}
.section-title{
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
}
.subtitle-a{
    font-family: 'Nunito', sans-serif;
    font-size: medium;
    font-style: bold;
    padding-top: 0.5rem;
}
.subtitle{
  font-family: 'Nunito', sans-serif;
  font-size: medium;
  font-style: bold;
  padding: 1rem;
}

.toplist{
    font-style: bold;
}
a:hover {
    text-decoration: none;
}
.profiles li {
  margin-top: 10px;
}
.title-box-a{
  border-color: black;
  border-width: 3px;
  border-style: solid;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.35);
}

.title-box{
  border-color: black;
  border-width: 3px;
  border-style: solid;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items:center;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.35);
  padding-left: 1rem;
  padding-top: 0;
}

.titlecontainer{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #1F1F1F;
  padding-top:3rem;
  padding-bottom: 0;
}
.title-box-text{
  font-size: 1.2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Work Sans', sans-serif;
  padding: 1rem;
}

.title-box-text2{
  font-size: xx-large;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Work Sans', sans-serif;
  padding: 1rem;
  color: #1f1f1f;
  font-weight: 700;
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border:none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(0, 0, 0, 0.5); /* Set a background color */
  color: #f2f2f2; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 20px 25px 20px 25px;
  border-radius: 1px; /* Rounded corners */
  font-size: 1.5rem; /* Increase font size */
  font-family:  'Work Sans', sans-serif;
  font-weight: 700;
  text-transform: lowercase;
  transition: 0.2s ease;
  width: auto;
}

#myBtn:hover {
  color: #ebc934;
  transition: 0.2s ease;
}
.pagename{
  visibility:visible;
  width: auto;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/* ------------------------------- Mobile ----------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 946px){ 
  .credit{
    flex-direction: column;
  }
  .linkedin-credit{
    padding-left: 4.5rem;
  }
  .email-credit{
    padding-left: 4.5rem;
  }
  .resume-credit{
    padding-left: 4.5rem;
  }
  .titlecontainer{
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .title-box{
    border-width: 2px;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    padding-left: 0;
    padding-top: 1rem;

  }

  .title-box-a{
    border-width: 2px;
    width: 95%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
  }

  .title-box-text{
    font-size: 1rem;
  }
  h1{
    font-size: small;
    padding-left: 1em;  
    padding-top:0.5em;
  }
  #button {
    width: 50%
  }
  .cutebutt{
    font-size: small;
  }
  .pagename{
    visibility: hidden;
    width: 0;
  }
  .titlebar-a{
    width: 60%;
  }
}